@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f2f2f3;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

p[role="alert"] {
  color: #dc2626;
  font-size: 14px;
  margin-top: 4px;
}

h1 {
  font-weight: 600;
  font-size: 26px;
}

a,
button {
  cursor: pointer;
}

button,
button.MuiButtonBase-root {
  box-shadow: none;
  line-height: normal;
  min-width: auto;
  text-transform: none;
}

textarea,
input,
.MuiInputBase-input.MuiInput-input,
.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #c6c6c6 !important;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 16px;
}

label {
  margin-bottom: 4px;
}

textarea {
  resize: none;
  min-height: 150px;
}

textarea:focus {
  outline: none;
}

span.status {
  border-radius: 32px;
  color: #fff;
  padding: 4px 12px;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  width: auto;
}

span.status.all {
  background: #64748b;
}
span.status.applied {
  background: #3b82f6 !important;
}

span.status.screening {
  background: #8b5cf6;
}

span.status.assessment {
  background: #ec4899;
}

span.status.interview {
  background: #f59e0b;
}

span.status.offer {
  background: #10b981;
}

span.status.rejected {
  background: #ef4444;
}
